// ----------------------------------------------------------------------------
// Sass declarations
// ----------------------------------------------------------------------------
$background-color:  #dc5945;

// ----------------------------------------------------------------------------
// Widget-clock styles
// ----------------------------------------------------------------------------
.widget-clock {

  background-color: $background-color;

  h1 {
  	font-size: 60px;
	font-weight: 700;
  }
  h2 {
  	font-size: 125px;
  	
  }

}
